$text-color: #333;
$dark-color: #000;
$red-color: #981818;
$blue-color: #003469;
$blue-color: #67bc5c;

body {
  font-family: "RobotoRegular", sans-serif;
  color: $text-color;
  font-weight: normal;
  font-size: 16px;
 }


